/* Header */

header {
  padding: 100px 0 140px 0;
}

/* Icon and Personal Links */

.header-contact {
  float: left;
}

.header-icon {
  float: left;
  margin: 15px auto;
  font-size: 37px;
  color: gray;
  transition-duration: .5s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

.header-icon:hover {
  cursor: pointer;
  transform: rotate(270deg);
}

.header-mylinks {
  display: inline-block;
  text-align: left;
  padding: 2px 0 0 0;
  list-style: none;
}

.header-mylinks i {
  transition: 1s;
}

.header-mylinks>li {
  display: inline-block;
  font-size: 23px;
  margin: 2px 20px 0 0;
}

.header-mylinks>li:first-child {
  margin-left: 30px;
}

.header-mylinks>li>a {
  transition-duration: 1.5s;
  color: white;
}

/* Navbar */

.nav-menu {
  text-align: right;
  list-style: none;
}

.nav-menu > li {
  display: inline-block;
  margin: 20px 20px 0 20px;
  font-size: 23px;
}

.nav-menu > li > a {
  text-decoration: none;
  color: gray;
}

@media (max-width: 750px) {
  .nav-menu > li {
    font-size: 17px;
  }
}