/* Header */

header {
  padding: 100px 0 140px 0;
}

/* Icon and Personal Links */


.float-left {
  float: left;
}

.header-icon {
  font-size: 37px;
  color: gray;
  transition-duration: .5s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

.header-icon:hover {
  cursor: pointer;
  transform: rotate(270deg);
}

.header-mylinks {
  display: inline-block;
  margin: 10px auto;
  text-align: left;
  padding: 0;
  list-style: none;
}

.header-mylinks i {
  transition: 1s;
}

.header-mylinks>li {
  display: inline-block;
  vertical-align: middle;
  font-size: 23px;
  margin: 0 20px 0 0;
}

.header-mylinks>li>a {
  color: gray;
}

/* Navbar */

.nav-menu {
  text-align: right;
  list-style: none;
}

.nav-menu > li {
  display: inline-block;
  margin: 7px 20px 0 20px;
  font-size: 23px;
}

.nav-menu > li > a {
  text-decoration: none;
  color: gray;
}

@media (max-width: 775px) {
  .nav-menu {
    padding-top: 1px;
  }
  .nav-menu > li {
    font-size: 17px;
    display: block;
  }
}