/* footer {
  display: block;
  background: gainsboro;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: gray;
}

.footer-copywrite {
  flex: auto;
  font-size: 24px;
}

.ul-social {
  list-style: none;
  padding: 0;
}

.ul-social>li {
  display: inline-block;
  margin-left: 40px;
}

.ul-social>li>a {
  font-size: 37px;
  color: gray;
}

@media (max-width: 775px) {
  .footer-content {
    flex-direction: column-reverse;
  }
  .footer-copywrite {
    font-size: 15px;
    flex: initial;
  }
  .ul-social>li {
    display: inline-block;
    margin: 0 20px;
  }
  .ul-social>li>a {
    font-size: 20px;
  }
} */