/* Layout */

* {
  font-family: 'Expletus Sans', cursive;
}

/* Navbar*/

.content-navbar {
  text-align: left;
  list-style: none;
  padding: 0;
  border-bottom: 2px solid;
}

.content-navbar>li {
  display: inline-block;
  text-align: left;
  padding-left: 30px;
  font-size: 23px;
  color: rgba(50, 50, 50, .3);
  transition: .5;
}

.content-navbar>li:hover {
  color: rgba(50, 50, 50, .7);
}

.homepage-component {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  color: rgba(50, 50, 50, 1);
}

.bio-bar-wrapper {
  background: rgba(220, 220, 220, 1)
}

.bio-bar {
  margin: 20px 0 20px 20px;
  padding: 20px;
  height: 90vh;
  background: rgba(50, 50, 50, 1);
  color: rgba(220, 220, 220, 1);
  box-shadow: 0 0 15px 10px grey;
}

.bio-bar-portfolio {
  padding: 0 0 50px 0;
}

.bio-bar-portfolio>p {
  margin: 0;
}

.bio-bar-content>h1,
h2,
h3 {
  text-align: center;
}

.bio-bar-content>h1 {
  margin-top: 12px;
}

.bio-bar-content>h2 {
  padding-bottom: 20px;
  margin-top: 0;
  border-bottom: 2px solid;
}

.homepage-content-wrapper {
  background: rgba(50, 50, 50, 1);
}

.homepage-content {
  margin: 20px 20px 20px 0;
  padding: 20px;
  background: rgba(220, 220, 220, 1);
  text-align: center;
  height: 90vh;
  box-shadow: 0 0 30px 1px inset;
}

.homepage-content h2 {
  display: inline-block;
  text-align: left;
  border-bottom: 2px solid black;
}

.homepage-content>p {
  margin: 0;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 18rem;
  border: 1px solid black;
  border-radius: 12px;
}

.project-wrapper a {
  color: rgba(50, 50, 50, 1)
}

.project-overlay {
  height: 100%;
}

.project-center {
  display: flex;
  flex-direction: column;
}

.project-center>h3 {
  flex: 1 1;
  padding: 1rem;
  margin: 0;
}

.project-center>p {
  margin: 0;
  padding: 1rem 1.5rem;
}

.project-technology-icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  padding: 0 30px 10px 30px;
}

.project-links {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.project-links>a {
  text-decoration: none;
  transition: .5s;
}

.project-links>a:hover {
  color: rgb(225, 130, 80);
}

.container {
  display: block;
  position: relative;
  margin: auto 120px;
}

.footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  list-style: none;
  padding: 0;
}

.homepage-landing {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.page-detail {
  height: 200px;
}

.work-intro-flavor {
  display: block;
  margin: 0;
  font-size: 18px;
  color: rgb(200, 200, 200);
  line-height: 150%;
  padding: 0 0 40px 0;
  text-align: center;
}

.work-intro-flavor>li {
  list-style: none;
}

.work-intro-flavor>li>p {
  margin: 0;
}

.work-intro-details-wrapper {
  flex: 1 1;
  text-align: left;
}

.work-intro-details {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: rgb(50, 80, 130);
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.work-intro-details>li {
  padding-bottom: 25px;
}

.work-intro-details>li>p {
  margin: 0;
  font-size: 16px;
  line-height: 2;
}

.orange-highlight {
  color: rgb(225, 130, 80);
}

.blue-highlight {
  color: rgb(70, 120, 160);
}

@media (max-width: 1100px) {
  .homepage-landing {
    flex-direction: column;
  }
  .work-intro-details>li>p {
    line-height: 1;
  }
}

/* Portfolio */

/* 
.landing-intro {
  text-align: left;
  color: rgb(55, 55, 55);
  flex: 1.5 1;
}

.landing-intro h1 {
  font-size: 52px;
  line-height: 70px;
  margin: 0 0 35px 0;
} 

.portfolio {
  display: flex;
}

.project {
  height: 50vh;
  overflow: hidden;
}

.project-row {
  flex-direction: row;
}

.project-overlay {
  display: flex;
  position: relative;
  top: 0;
  height: 100%;
  background: rgba(255, 255, 255, .6);
  color: #333;
}

.project-overlay h3 {
  display: inline-block;
  margin: 0;
  padding: 0 2% 10% 0;
  text-align: center;
}

.project-overlay a {
  text-decoration: none;
  color: #333;
}

.project-overlay p {
  margin: 0;
  text-align: center;
}

.project-center {
  margin: auto;
  text-align: center;
}

.page-detail {
  color: gray;
  padding-top: 112px;
  padding-left: 50px;
  font-size: 24px;
}

.page-detail p {
  margin: auto;
}

.page-detail>p>a {
  color: gray;
}

.contact-arrow {
  padding-left: 10px;
  cursor: pointer;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 7px;
}

.contact-info p {
  margin: initial;
}

@media (max-width: 775px) {
  .container {
    margin: auto 40px;
  }
  .landing-intro h1 {
    font-size: 27px;
  }
  .work-intro-flavor {
    font-size: 17px;
    line-height: 200%;
  }
  .content-grid {
    grid-template-columns: 1fr;
  }
  .page-detail {
    font-size: 20px;
  }
  .contact-info {
    margin-top: 20px;
  }
  .contact-info p {
    font-size: 15px;
  }
  .work-intro-details>li {
    font-size: 10px;
  }
  .work-intro-details>li>p {
    font-size: 13px;
  }
}
*/

/* Projects */

#proj-1 .project-overlay {
  background: rgba(255, 255, 160, 0.9);
}

#proj-2 .project-overlay {
  background: rgba(35, 167, 127, 0.397);
}

#proj-2 a {
  color: #333;
}

#proj-2 .project-center {
  padding: 20px 30px;
  background: rgba(255, 255, 255, .7);
  border-radius: 10%;
  color: #333;
}

#proj-3 {
  overflow: hidden;
  background: url('/assets/images/red-bg-light.jpg');
}

#proj-4 {
  background: rgb(118, 150, 219);
}

#proj-4 .project-center {
  padding: 20px 30px;
  background: rgba(255, 255, 255, .7);
  border-radius: 10%;
  color: #333;
}

@media (max-width: 1000px) {
  .homepage-component {
    display: initial;
  }
  .homepage-content{
    margin: 0;
  }
  .bio-bar-portfolio {
    margin: 0 250px;
  }
  footer {
    margin: 0 250px;
  }
  .bio-bar {
    height: auto;
    margin: auto;
  }
  .projects-container {
    margin: initial;
  }
}

@media (max-width: 850px) {
  .bio-bar-portfolio {
    margin: 0 200px;
  }
  footer {
    margin: 0 200px;
  }
}

@media (max-width: 800px) {
  .bio-bar-portfolio {
    margin: 0 150px;
  }
  footer {
    margin: 0 150px;
  }
}

@media (max-width: 650px) {
  .bio-bar-portfolio {
    margin: 0 100px;
  }
  footer {
    margin: 0 100px;
  }
}