/* Layout */

* {
  font-family: 'Expletus Sans', cursive;
}

.container {
  display: block;
  position: relative;
  margin: auto 120px;
}

body {
  margin: 0;
}

.page-detail {
  height: 200px;
}

.work-intro {
  display: block;
  text-align: left;
  margin: 0;
  font-size: 23px;
  color: gray;
  line-height: 150%;
}

/* Scroll Down Element */

/* Scroll Down Button */

@keyframes downbounce {
  0% {}
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.scroll-down-button {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 10%;
  position: absolute;
  color: AliceBlue;
  font-size: 4rem;
  animation: "downbounce" infinite 20s ease-in-out;
  cursor: pointer;
}



/* Portfolio */

.landing-intro {
  padding-bottom: 200px;
  text-align: left;
  color: #333;
}

.landing-intro h1 {
  font-size: 52px;
  line-height: 70px;
}

.portfolio {
  display: flex;
}

.project {
  height: 50vh;
  overflow: hidden;
}

.project-row {
  flex-direction: row;
  flex: 1;
}

.project-overlay {
  display: flex;
  position: relative;
  top: 0;
  height: 100%;
  background: rgba(255, 255, 255, .6);
  color: #333;
}

.project-overlay h3 {
  display: inline-block;
  margin: 0;
  padding: 0 2% 10% 0;
  text-align: center;
}

.project-overlay a {
  text-decoration: none;
  color: #333;
}

.project-overlay p {
  margin: 0;
  text-align: center;
}
.project-center{
  margin: auto;
}

.page-detail {
  display: flex;
  color: #f0f0f0;
  font-size: 37px;
}

.page-detail p {
  margin: auto;
}

@media (max-width: 750px) {
  .container {
    margin: auto 40px;
  }
  .portfolio {
    flex-direction: column;
  }
  .landing-intro h1 {
    font-size: 27px;
  }
  .work-intro {
    font-size: 17px;
    line-height: 200%;
  }
}

/* Projects */

/* Project One */

#proj-1 {
  background: palegoldenrod;
}

#proj-2 {
  background: palegreen;
}

#proj-3 {
  background: paleturquoise;
}

#proj-4 {
  background: palevioletred;
}

#proj-3 {
  overflow: hidden;
  background: url('/assets/images/red-bg-light.jpg');
}

/* Custom Animation */

.crystal-ruby {
  position: absolute;
  height: 10%;
  left: 10%;
  opacity: .3;
  transform: rotate(-30deg);
  overflow: hidden;
  animation: fallingCrystals 12s infinite linear;
}

.crystal-diamond {
  position: absolute;
  height: 20%;
  left: 20%;
  opacity: .6;
  transform: rotate(45deg);
  overflow: hidden;
  animation: fallingCrystals 6s infinite linear;
}

.crystal-sapphire {
  position: absolute;
  height: 20%;
  left: 50%;
  opacity: .5;
  transform: rotate(-20deg);
  overflow: hidden;
  animation: fallingCrystals 5s infinite linear;
}

.crystal-emerald {
  position: absolute;
  height: 10%;
  left: 75%;
  opacity: .4;
  transform: rotate(25deg);
  overflow: hidden;
  animation: fallingCrystals 7s infinite linear;
} 


@keyframes fallingCrystals {
  0% {
    top: -160px;
  }
  100% {
    top: 1000px;
  }
} 


